<article class="card">
    <h3>
        <%= title %>
    </h3>
    <p>
        <%= description %>
    </p>
    <% if (typeof tags !=='undefined' && tags.length) { %>
        <div class="tags">
            <% tags.forEach(function(tag) { %>
                <span class="tag">
                    <%= tag %>
                </span>
                <% }); %>
        </div>
        <% } %>
</article>