<section class="hero">
    <h1>
        <%= heading %>
    </h1>
    <% if (typeof subheading !=='undefined' ) { %>
        <p class="subheading">
            <%= subheading %>
        </p>
        <% } %>
</section>