<nav class="main-nav">
    <ul>
        <% links.forEach(function(link) { %>
            <li><a href="<%= link.href %>">
                    <%= link.label %>
                </a></li>
            <% }); %>
    </ul>
</nav>