

    <section class="card-grid">
    <h2>
        stageRight
    </h2>
    <div class="grid">
        
            <article class="card">
    <h3>
        Project One
    </h3>
    <p>
        Loremn ipsum, yadda yadda.
    </p>
    
        <div class="tags">
            
                <span class="tag">
                    design
                </span>
                
                <span class="tag">
                    branding
                </span>
                
        </div>
        
</article>
                
            <article class="card">
    <h3>
        Project Two
    </h3>
    <p>
        Loremn ipsum, yadda yadda.
    </p>
    
        <div class="tags">
            
                <span class="tag">
                    development
                </span>
                
                <span class="tag">
                    frontend
                </span>
                
        </div>
        
</article>
                
            <article class="card">
    <h3>
        Project Three
    </h3>
    <p>
        Loremn ipsum, yadda yadda.
    </p>
    
        <div class="tags">
            
                <span class="tag">
                    design
                </span>
                
                <span class="tag">
                    print
                </span>
                
        </div>
        
</article>
                
    </div>
</section>    